<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 3</title>
</head>
<body>
    <header>
        this is header
        <nav>
            home
            about
        </nav>
    </header>
    <main>
        <p>this is main contetnt</p>

    </main>
    <section>
        <a href="https://google.com" target="_main">google website</a>
       <img src="image.jpg" alt="image"height="34">
    </section>
    <section>

        <!-- <div>   example of block element -->
            <div>
            <h1>why love html?</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias iusto, tenetur doloribus quod, nam incidunt asperiores eaque ut accusamus suscipit amet odio delectus illum vero quidem. Repudiandae non necessitatibus tempora assumenda sit, praesentium esse nulla sequi consequuntur sunt illo.</p>
        </div>
        <div>
            <h1>why use bootstraps?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos incidunt qui ullam quisquam veniam vero in enim velit tempora amet.</p>
        </div>
    </section>
    <span>iam a span tag</span>              
    <!-- span is a example of inlline element -->
    <article></article>
    <aside></aside>
    <footer>
     this is footer
    </footer>
    
</body>
</html>